@import url(https://fonts.googleapis.com/css?family=Roboto:100,700;);

:root{
    --color-bg-hover-center: #32353cBB;
    --color-bg-hover-top-down: #32353cCC;
    --color-bg-body: #212121;
    --color-font: #FFF;
    --font-family: "Roboto", Arial,sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-bg-body);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

figure{
    position: relative;
    display: inline-block;
    height: max-content;
    overflow:hidden;
    transition: all .3s linear;
}

figure:hover .backgroundHover{
    opacity: 1;
    border-bottom: 50px solid var(--color-bg-hover-top-down);
    border-top: 50px solid var(--color-bg-hover-top-down);

}

figure:hover figcaption{
    opacity: 1;
}


.backgroundHover{
    background-color: var(--color-bg-hover-center);
    position: absolute;
    width: 100%;
    height: 99%;
    z-index: 1;
    top: 0px;
    opacity:0;
    border-bottom: 0px solid var(--color-bg-hover-top-down);
    border-top: 0px solid var(--color-bg-hover-top-down);
    transition: all .2s linear;
}


figcaption{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    color: var(--color-font);
    transition: all .3s linear;
    opacity: 0;
    z-index: 1;
}

span{
    text-transform: uppercase;
    font-family: var(--font-family);
    font-size: 1.5rem;
}

#firstName{
    font-weight: 100;    
}

#lastName{
    font-weight: 700;
}
 