@import url(https://fonts.googleapis.com/css?family=Roboto);

:root{
    --color-font: #FFF;
    --color-border-effect: #c87f0a;
    --color-bg: #212121;
    --font-family: "Roboto", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: var(--color-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


button{
    border: none;
    background-color: transparent;
    overflow:hidden;
    position: relative;
    padding: 0;
}

button:after{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: var(--color-border-effect);
    transform: rotate(45deg);
    z-index:10;
    top: -25px;
    right: -25px;   
    pointer-events: none;
}

a{
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 1.1rem;
    width: inherit;
    display: inline-block;
    padding: 13px 43px;
    border-radius: 15px 0px 15px 15px;
    border: 3px solid var(--color-font);
    letter-spacing: 1px;
    color: var(--color-font);
    cursor: pointer;
    transition: all .3s linear;
}

a:hover{
    border-color: var(--color-border-effect);
}


